.notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  z-index: 999;
}
.notification__notification {
  display: inline-flex;
  border-radius: 5px;
  align-self: start;
}
.notification__notification.--default {
  background: #dbdbdb;
  color: #646464;
}
.notification__notification.--primary {
  background: #d3e2f7;
  color: #0a53be;
}
.notification__notification.--danger {
  background: #ffd9d9;
  color: #b70000;
}
.notification__notification.--success {
  background: #d0efd0;
  color: #008913;
}
.notification__notification.--warning {
  background: #ffffb7;
  color: #738300;
}
.notification__wrapper {
  display: inline-flex;
  flex-direction: row;
  max-width: 300px;
  position: relative;
}
.notification__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.notification__icon svg {
  width: 25px;
  height: 25px;
}
.notification__content {
  padding: 20px 40px 20px 0;
  display: inline-block;
  font-family: 'FiraSansExtraCondensed';
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: fit-content;
}
.notification__cross {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
