@import 'overlayscrollbars/styles/overlayscrollbars.css';

@import 'variables.css';
@import 'fonts.css';
@import 'normalize.css';
@import 'common.css';
@import 'error-page.css';
@import 'modal.css';
@import 'notification.css';
@import 'buttons.css';
@import 'badges.css';
@import 'links.css';
@import 'spiner.css';
@import 'side-menu.css';
@import 'switcher.css';
@import 'clouds.css';
@import 'login.css';
@import 'sections.css';
@import 'key-value-table.css';
@import 'flex-table.css';
@import 'wangeditor.css';
@import 'tabs.css';
@import 'grid.css';
@import 'detail.css';
@import 'form.css';
@import 'browser-detail.css';
@import 'browser-small.css';
@import 'browser.css';

.main-custom-scroll {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  >.os-scrollbar {
    padding: 1px 1px 1px 3px;
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        background: linear-gradient(to bottom, var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
      }
    }
  }
}
