:root {
  /* Colors */
  --color-gradient-1: #007183;
  --color-gradient-2: #009f5e;
  --color-gradient-intermediate: #008871;

  --main-background-color: #eafffe;

  /* Document Scroll */
  --document-scroll-background: linear-gradient(to bottom, var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
  --document-scroll-track-background: #dbdbdb;
  --document-scroll-track-border-radius: 5px;

  /* Scrollable */
  --scrollable-track-background: #dbdbdb;
  --scrollable-slider-background: linear-gradient(to bottom, var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);

  /* Browser detail */
  --browser-detail-header-background-color: #fdf9f6;

  /* Login form */
  --login-form-background-color: var(--main-background-color);

  /* Page container */
  --page-container-background-color: linear-gradient(to top right, #74EBD5 0%, #9FACE6 100%);

  --side-menu-background-color: var(--main-background-color);










  /* Side menu */
  --side-menu-item-border-bottom: 1px solid var(--main-border-color);
  --side-menu-sub-section-list-background-color: var(--main-hover-background-color);

  /* Browser table */
  --browser-table-tr-background-color: var(--main-hover-background-color);

  /* Select */
  --select-dropdown-hover-background-color: var(--main-hover-background-color);
}