.badge {
  padding: 4px 14px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-family: "FiraSansExtraCondensed" !important;

  &.--special {
    color: var(--color-1, #ffffff);
    border: none;
    background: linear-gradient(to right, var(--color-gradient-1, #DE4020) 0%, var(--color-gradient-2, orange) 100%);
  }

  &.--default {
    border: 1px solid var(--default-btn-color, #6c757d);
    color: var(--color-1, #ffffff);
    background: var(--default-btn-color, #6c757d);
  }

  &.--primary {
    background: var(--primary-btn-color, #0d6efd);
    color: var(--color-1, #ffffff);
    border: 1px solid var(--primary-btn-color, #0d6efd);
  }

  &.--success {
    border: 1px solid var(--success-btn-color, #198754);
    background: var(--success-btn-color, #198754);
    color: var(--color-1, #ffffff);
  }

  &.--danger {
    border: 1px solid var(--danger-btn-color, #dc3545);
    background: var(--danger-btn-color, #dc3545);
    color: var(--color-1, #ffffff);
  }

  &.--warning {
    border: 1px solid var(--warning-btn-color, #ffc107);
    background: var(--warning-btn-color, #ffc107);
    color: var(--color-1, #ffffff);
  }
}