.browser-small {
  min-height: 100%;

  &.--is-disabled-thead tr:first-child {
    border-top: none;
  }

  &__paginator {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__header-left {
    display: inline-flex;
    justify-items: center;
    font-size: 18px;
  }

  &__total {
    user-select: none;
    margin-top: 10px;
    margin-left: 1px;
    font-size: 14px;
    color: var(--color-4);
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;

    &.--empty {
      display: block;
    }
  }

  &__actions {
    float: right;
    margin-left: 10px;
  }

  &__empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    color: var(--color-6);
    user-select: none;
    border-radius: 5px;

    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: var(--color-6);
      opacity: 0.6;

      svg {
        width: 40px;
        height: 40px;
      }
    }

    &:hover {
      cursor: default;
    }
  }

  &__empty-list-header {
    margin-top: 10px;
    font-size: 18px;
  }

  &__empty-list-description {
    margin-top: 5px;
    font-size: 14px;
  }

  &__spinner-container {
    display: flex;
    justify-content: center;
    min-height: 200px;
    align-items: center;
  }

  &__table {
    margin-top: 10px;
    width: 100%;
    padding: 20px 0;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid var(--color-3, #f3f3f3);

    &.--loading {
      opacity: 60%;
      filter: blur(1px);
    }

    thead {
      tr {
        text-align: left;
        background-color: var(--color-1, #ffffff);

        .container {
          display: flex;
          align-items: center;
          height: 18px;
        }

        .title {
          white-space: nowrap;
        }

        .svg-container {
          color: var(--color-2, #dbdbdb);
          margin-left: 5px;

          &_desc, &_asc {
            svg {
              color: var(--color-gradient-1, #DE4020);
            }
          }

          &_asc {
            svg {
              transform: rotate(180deg);
            }
          }

          &:hover {
            cursor: pointer;
            color: var(--color-gradient-2, orange);
          }
        }

        th {
          padding: 12px;
          text-transform: uppercase;
          color: grey;
          border: none;
          margin: 0;
          user-select: none;

          &.--min-width {
            width: 1px;
          }

          &.--max-width-200 {
            width: 200px;
          }
        }
      }
    }

    tbody {
      color: black;

      tr {
        background-color: var(--color-1, #ffffff);
        border-top: 1px solid var(--color-2, #dbdbdb);

        &.--disable-cursor, &.--disable-cursor:hover {
            cursor: default;
        }

        &.--disable-hover:hover {
          background-color: var(--color-1, #ffffff);
        }

        td {
          font-family: "Roboto";
          font-size: 13px;
          padding: 12px;

          &.--min-width {
            width: 1px;
          }
        }

        td div {
          font-family: "Roboto";
        }

        &:hover {
          cursor: pointer;
          background: var(--color-3, #f3f3f3);
        }
      }
    }
  }
}