#__layout {
  width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

div, button, label, li {
  font-family: "FiraSansExtraCondensed";
}

a, input {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0;
  font-family: "Roboto";
  font-weight: normal;
}

input {
  box-sizing: border-box;
}

thead > tr > th {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 10px;
}

#__nuxt {
  height: 100%;
}

.mr_10 {
  margin-right: 10px;
}

.ml_10 {
  margin-left: 10px;
}

.mt_10 {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}