.detail {

  &__link-back {
    font-size: 12px;
  }

  &__header {
    margin-top: 20px;
    background: var(--color-1);
    padding: 8px 15px;
    border-radius: var(--main-border-radius);
    margin-bottom: 20px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  &__header-title {
    font-size: 20px;
    background: linear-gradient(to right, var(--color-gradient-1, #DE4020) 0%, var(--color-gradient-2, orange) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}