.error-page {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-family: FiraSansExtraCondensed;
    color: var(--color-4, #757575);
    font-size: 28px;
    margin: 0 0 20px 0;
  }

  p {
    color: var(--color-4, #757575);
    margin-bottom: 20px;
    font-size: 18px;
  }

  a {
    font-family: FiraSansExtraCondensed;
    color: var(--color-4, #757575);
    background: linear-gradient(to right, var(--color-gradient-1, #DE4020) 0%, var(--color-gradient-2, orange) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      opacity: 0.8;
    }
  }
}