.form {

  &__section {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--color-gradient-1);
  }

  &__header-section-top {
    display: flex;
    justify-content: space-between;
  }

  &__header-section-bottom {

  }

  &__content {
    background: var(--main-background-color, #ffffff);
  }

  &__header {
    padding: 20px;
    position: sticky;
    z-index: 3;
    top: 0;
    background: var(--main-background-color, #ffffff);
    border-bottom: 1px solid var(--color-2, #dbdbdb);

    .tabs {
      top: 20px;
      left: -20px;
      width: calc(100% + 40px);
      justify-content: space-around;
    }

    .tabs__item {
      width: 100%;
    }
  }

  &__content {
    padding: 20px 30px;
  }

  &__header-title {
    margin: 0;
    color: grey;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: linear-gradient(to right, var(--color-gradient-1, #DE4020) 0%, var(--color-gradient-2, orange) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__footer {
    bottom: 0;
    background: var(--color-1, #ffffff);
    padding: 20px;
    display: flex;
    justify-content: right;
  }

  &__header-close-button {
    width: 28px;
    height: 28px;

    &:hover {
      cursor: pointer;

      svg {
        color: var(--color-gradient-2, orange);
      }
    }

    svg {
      width: 28px;
      height: 28px;
      color: var(--color-gradient-1, #DE4020);
    }
  }

  .label {
    font-family: FiraSansExtraCondensed;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: var(--color-5, #2b2b2b);
  }

  .input {
    display: block;
    outline: none;
    border-radius: 5px;
    border: none;
    height: 32px;
    padding: 8px 4px 8px 12px;
    flex: 1 30px;
    font-size: 14px;
    width: 100%;

    &__container {
      margin-top: 10px;
      display: flex;
      border-radius: 5px;
      border: 1px solid var(--color-2, #dbdbdb);

      &_error {
        border: 1px solid #ff5252;
      }

      &:focus-within {
        border: 1px solid var(--color-gradient-2, orange);
      }
    }

    &__description {
      color: var(--color-4);
      font-size: 12px;
      margin-top: 5px;
    }

    &__error {
      color: #ff5252;
      font-size: 12px;
      max-width: 100%;
      min-height: 14px;
      margin-top: 5px;
    }
  }

  .select {

    &__search-input-container {
      position: relative;
      z-index: 3;
    }

    &__search-input {
      position: absolute;
      padding: 8px;
      font-size: 12px;
      outline: none;
      height: 30px;
      border: 1px solid var(--color-2, #dbdbdb);
      visibility: hidden;
      width: 100%;
      border-bottom: 1px solid var(--color-gradient-2, orange);
      font-family: Roboto;
      border-top: none;

      &.--inverse {
        border-top: 1px solid var(--color-gradient-2, orange);
        border-bottom: 1px solid var(--color-2, #dbdbdb);;
      }

      &_open {
        visibility: inherit;
      }
    }

    &__container {
      outline: none;
      margin-top: 14px;
    }

    &__active-select-option-title {
      font-size: 14px;
    }

    &__active-select-option {
      padding: 4px 5px;
      grid-gap: 2px;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      display: inline-flex;
      background: linear-gradient(to right, var(--color-gradient-1, #DE4020) 0%, var(--color-gradient-2, orange) 100%);
      color: white;
      border-radius: 5px;
      transition: opacity .3s;
      opacity: 1;

      &:hover {
        opacity: 0.8;
      }

      svg {
        height: 12px;
        width: 12px;
      }
    }

    &__active-select-option-cancel {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &__active-select {
      width: 100%;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      flex: 1 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'Roboto';
      padding: 7px 4px 8px 12px;
      height: 30px;

      &_multiple {
        padding: 2px 0 2px 2px;
        font-size: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        flex: 1 30px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        grid-gap: 2px;
      }
    }

    &__active-select-remove-button {
      width: 15px;
      padding: 6px 0 6px 0;
      position: relative;

      svg {
        width: 12px;
        height: 12px;
        color: var(--color-6, #959595);

        &:hover {
          cursor: pointer;
          color: var(--color-gradient-2, orange);
        }
      }
    }

    &__selected-container {
      display: flex;
      height: 32px;
      border-radius: 5px;
      background: var(--color-1, #ffffff);
      border: 1px solid var(--color-2, #dbdbdb);
      outline: none;
      cursor: pointer;

      &.--has-errors {
        border: 1px solid #ff5252;
      }

      &.--multiple {
        height: auto;
        min-height: 30px;
      }

      &.--open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.--open.--inverse {
        border-radius: 0 0 5px 5px;
      }
    }

    &__dropdown-icon-container {
      width: 25px;
      height: 30px;

      &:after {
        content: "";
        border-top: 0.3em solid var(--color-4, #757575);
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        position: relative;
        top: 0.2em;
        right: -7px;
        transition-property: transform;
        transition-duration: 0.5s;
        display: inline-block;
      }

      &_open {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &__dropdown-container {
      position: relative;
      width: inherit;
    }

    &__dropdown {
      box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
      position: absolute;
      width: inherit;
      z-index: 3;
      background: var(--color-1, #ffffff);
      max-height: 150px;
      border: 1px solid var(--color-2);
      border-top: none;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      &.--inverse {
        border-bottom: none;
        border-radius: 5px 5px 0 0;
      }
    }

    &__dropdown-option {
      padding: 8px;
      border-bottom: 1px solid var(--color-2, #dbdbdb);
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      &.--empty {
        cursor: default !important;
        background-color: var(--color-1) !important;
        color: var(--color-4);
      }

      &:hover {
        cursor: pointer;
        background-color: var(--select-dropdown-hover-background-color);
      }

      &:last-of-type {
        border-bottom: none;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &_selected {
        background-color: var(--color-7);

        &:hover {
          background-color: var(--color-7);
        }
      }
    }
  }

  .input-file {

    &__btn-group {
      display: flex;
      flex-direction: column;
      grid-gap: 5px;
    }

    &__image-label {
      position: absolute;
      text-align: center;
      margin: auto;
      width: 100%;
      bottom: 70px;
      font-family: 'FiraSansExtraCondensed';
      z-index: 1;
      color: #ff6200;
      font-size: 14px;
    }

    &__container {
      padding: 10px;
      margin-top: 10px;
      display: flex;
      border: 1px solid var(--color-2, #dbdbdb);
      border-radius: 5px;

      &.--has-errors {
        border: 1px solid #ff5252;
      }

      &.--empty {
        border: none;
        padding: 0;
      }
    }

    &__cross-wrapper {
      display: flex;
      justify-content: center;
      height: 300px;
      width: 300px;
      align-items: center;
      transition: opacity .5s;
      opacity: 0;
      position: relative;
      z-index: 2;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      svg {
        width: 30px;
        height: 30px;
        z-index: 1;
        color: #DE4020;
      }
    }

    &__btn-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 5px;
    }

    &__image-overlay {
      background: black;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .6s;
      z-index: 2;
      border-radius: 5px;
      cursor: pointer;
    }

    &__image-container {
      width: 100%;
    }

    &__image-wrapper {
      height: 100%;
      width: 100%;
      position: relative;
      border-radius: 5px;

      >img, >svg {
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.40);
        border-radius: 5px;
        z-index: 1;
        transition: border .5s;
      }

      >svg {
        padding: 35px;
        color: #ff6200;
      }

      &:hover {

        .input-file__image-overlay {
          opacity: 0.4;
        }

        .input-file__cross-container {
          opacity: 1;
        }
      }
    }

    &__image-actions {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
    }

    &__input {
      background: var(--color-3, #ffffff);;
      border: 1px dashed var(--color-2, #dbdbdb);
      height: 135px;
      width: 100%;
      cursor: pointer;
      padding: 20px;
      border-radius: 5px;
      outline: none;
      transition: border .5s;

      p {
        margin: 0;
      }

      &:hover {
        border: 1px dashed var(--color-gradient-2, orange);

        .input-file__label_choose {
          color: #8c8c8c;
        }

        .input-file__label_or {
          color: #8c8c8c;
        }
      }

      &:focus {
        border: 1px dashed var(--color-gradient-2, orange);

        .input-file__label_choose {
          color: #8c8c8c;
        }

        .input-file__label_or {
          color: #8c8c8c;
        }
      }
    }

    &__label {
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      &_choose {
        font-size: 18px;
        color: var(--color-4, #757575);
        transition: color .5s;
      }

      &_or {
        font-size: 14px;
        color: var(--color-4, #757575);
        transition: color .5s;
      }

      &_download {
        background: linear-gradient(to right, var(--color-gradient-1, #DE4020) 0%, var(--color-gradient-2, orange) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
      }

      &_description {
        font-size: 12px;
      }

      &_allow-formats {
        margin-top: 5px;
        font-size: 12px;
        font-family: Roboto;
        color: var(--color-4, #757575);
      }

      &_max-size {
        font-size: 12px;
        font-family: Roboto;
        color: var(--color-4, #757575);
      }
    }
  }

  .date {
    margin-top: 14px;
  }

  .textarea {
    margin-top: 10px;
    resize: none;
    outline: none;
    border: 1px solid var(--color-2, #dbdbdb);
    border-radius: 5px;
    min-height: 50px;
    width: 100%;
    padding: 8px 12px;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;

    &:focus {
      border: 1px solid var(--color-gradient-2, orange);
    }
  }

  .date {

    &__input-container {
      display: flex;
      border-radius: 5px;
      border: 1px solid var(--color-2, #dbdbdb);
      position: relative;
      margin-top: 12px;

      &.--has-errors {
        border: 1px solid #ff5252;
      }

      &.--disabled {

        input {
          cursor: not-allowed;
          background: #efefef4d;
        }

        .date__input-icon {
          cursor: not-allowed;
        }
      }

      input {
        display: block;
        outline: none;
        border-radius: 5px;
        border: none;
        height: 32px;
        padding: 8px 0 8px 12px;
        width: 0;
        flex: 1 30px;
        font-size: 14px;
      }
    }

    &__input-icon {
      height: 32px;
      padding: 7px 0;
      border-left: 1px solid var(--color-2, #dbdbdb);
      cursor: pointer;

      svg {
        height: 20px;
        width: 26px;
        color: var(--color-4, #dbdbdb);
      }
    }

    &__input-remove-icon {
      height: 32px;
      padding: 9px 7px;
      cursor: pointer;

      &.--disabled {
        cursor: not-allowed;
        background: #efefef4d;

        svg:hover {
          color: var(--color-6, #959595);
        }
      }

      svg {
        width: 12px;
        height: 12px;
        color: var(--color-6, #959595);

        &:hover {
          color: var(--color-gradient-2, orange);
        }
      }
    }

    &__multiple-label {
      font-size: 14px;
      display: inline-block;
      padding: 5px 0 5px 5px;
      color: var(--color-4, #757575);
      user-select: none;
    }

    &__dropdown {
      max-width: 200px;
      position: absolute;
      top: 41px;
      width: calc(100% + 2px);
      border: 1px solid var(--color-2, #dbdbdb);
      left: -1px;
      background: var(--color-1, #ffffff);
      border-radius: 5px;
      z-index: 3;

      &.--inverse {
        top: auto;
        bottom: 41px;
        border-radius: 5px;
      }
    }

    &__dropdown-arrow {
      left: 100px;
      top: 0;
      height: 12px;
      width: 12px;
      background-color: white;
      position: absolute;
      border-inline-end: 1px solid var(--color-2, #dbdbdb);
      border-top: 1px solid var(--color-2, #dbdbdb);
      transform: translate(-50%, -50%) rotate(-45deg);

      &.--inverse {
        bottom: -12px;
        top: unset;
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }

    &__nav {
      display: flex;
      height: 28px;

      >div {
        cursor: pointer;

        :hover {
          fill: currentColor;
          cursor: pointer;
          color: var(--color-gradient-intermediate);
        }

        svg {

        }
      }

      svg:hover {
        color: var(--color-gradient-intermediate);
      }
    }

    &__arrow-container {
      padding: 6px;
      width: 15%;
      flex-basis: 28px;

      svg {
        height: 16px;
        width: 16px;
      }
    }

    &__nav-month {
      display: inline-block;
      padding: 6px;
      text-align: center;
      font-size: 14px;
      user-select: none;
      text-transform: capitalize;

      &:hover {
        color: var(--color-gradient-intermediate);
      }
    }

    &__nav-year {
      display: inline-block;
      width: 35%;
      padding: 6px;
      text-align: center;
      font-size: 14px;
      user-select: none;

      &:hover {
        color: var(--color-gradient-intermediate);
      }
    }

    &__nav-time {
      padding: 6px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    &__nav-calendar {
      padding: 6px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    &__nav-center {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
    }

    &__calendar {
      padding-bottom: 10px;

      hr {
        border: none;
        border-bottom: 1px solid var(--color-3);
        margin: 5px 10px;
      }
    }

    &__calendar-row {
      display: flex;
      justify-content: space-evenly;
      font-size: 14px;

      &.--days {
        user-select: none;
        color: var(--color-4, #dbdbdb);
        margin-top: 5px;

        .date__calendar-cell {
          cursor: default;
          font-size: 12px;

          &:hover {
            color: var(--color-4, #dbdbdb);
          }
        }
      }
    }

    &__calendar-cell {
      display: inline-block;
      width: 20px;
      text-align: center;
      user-select: none;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      margin: 1px 0;

      &:hover {
        color: var(--color-gradient-2);
      }

      &.--today {
        border: 1px solid var(--color-gradient-2);
      }

      &.--selected {
        border: 1px solid var(--color-gradient-2);
        background: var(--color-gradient-2);
        color: var(--color-1, #ffffff);
      }

      &.--not-current {
        color: var(--color-4, #dbdbdb);
      }
    }

    &__enums {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 1px;
      padding-bottom: 5px;

      &.--years, &.--hours, &.--minutes {
        height: 155px;
        position: relative;
        top: 0;
      }
    }

    &__enum {
      text-align: center;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid transparent;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      font-size: 14px;

      &.--is-selected {
        border: 1px solid var(--color-gradient-2);
      }

      &:hover {
        color: var(--color-gradient-1);
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
    }

    &__information {
      color: var(--color-4);
      font-size: 14px;
      padding-top: 3px;
      user-select: none;
    }

    &__button {
      padding: 4px;
      font-size: 12px;
      background: transparent;
      outline: none;
      border: 1px solid var(--color-2);
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
      transition: border .2s;

      &:hover {
        border: 1px solid var(--color-gradient-2);
      }
    }

    &__time {
      padding: 10px 20px;
      display: flex;
      justify-content: center;
    }

    &__time_parts {
      width: 28px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__time_arrow {
      height: 22px;
      cursor: pointer;

      svg {
        color: grey;
        fill: currentColor;
      }

      &:hover svg {
        color: var(--color-gradient-intermediate);
        fill: currentColor;
      }

      &.--top {
        transform: rotate(270deg);
      }

      &.--bottom {
        transform: rotate(90deg);
      }

      svg {
        height: 22px;
        width: 22px;
      }
    }

    &__time_label {
      text-align: center;
      cursor: pointer;
      font-size: 24px;
      user-select: none;
      border-radius: 5px;

      &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
      }
    }

    &__time_divider {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      font-size: 24px;
      user-select: none;
    }
  }

  .checkbox {
    input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      margin: 0;
    }

    &__fake {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid var(--color-2, #dbdbdb);
      border-radius: 5px;

      &.--has-errors {
        border: 1px solid #ff5252;
      }

      svg {
        display: inline;
        width: 15px;
        height: 19px;
        margin-left: 2px;
        color: var(--color-gradient-intermediate, #DE4020);
        font-size: 14px;
      }
    }

    &__label {
      user-select: none;
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 25px;
      font-size: 14px;
    }

    &__container {
      cursor: pointer;
      height: 25px;
      position: relative;
    }
  }
}