.grid {
    display: grid;
    grid-gap: 0 40px;
    gap: 5px 20px;

    &.--2x2 {
        grid-template-columns: repeat(2, calc(50% - 10px));
    }

    &.--3x3 {
        grid-template-columns: repeat(6, 1fr);
    }

    &.--2x2 > * {

        &.--full {
            grid-column: 1/3;
        }
    }

    &.--3x3 > * {

        &.--left {
            grid-column: 1/3;
        }

        &.--middle {
            grid-column: 3/5;
        }

        &.--right {
            grid-column: 5/7;
        }

        &.--full {
            grid-column: 1/7;
        }

        &.--left-half {
            grid-column: 1/4;
        }

        &.--right-half {
            grid-column: 4/7;
        }
    }
}