.link {

  text-decoration: none;

  &.--special {
    color: var(--color-gradient-intermediate);

    &:hover {
      color: var(--color-gradient-1);
    }
  }

  &.--default {
    color: var(--default-btn-color, #6c757d);

    &:hover {
      color: var(--default-btn-color-active);
    }
  }

  &.--primary {
    color: var(--primary-btn-color, #0d6efd);

    &:hover {
      color: var(--primary-btn-color-active);
    }
  }

  &.--success {
    color: var(--success-btn-color, #198754);

    &:hover {
      color: var(--success-btn-color-active);
    }
  }

  &.--danger {
    color: var(--danger-btn-color, #dc3545);

    &:hover {
      color: var(--danger-btn-color);
    }
  }

  &.--warning {
    color: var(--warning-btn-color, #ffc107);

    &:hover {
      color: var(--warning-btn-color-active);
    }
  }
}