.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--page-container-background-color);

  &__logo {
    margin: 0 auto;
    display: block;
    max-width: 300px;
  }

  &__header {
    font-size: 22px;
    color: var(--color-4, #757575);
    margin-bottom: 20px;
    text-align: center;
  }

  &__form {
    width: 300px;
    padding: 20px;
    background: var(--login-form-background-color);
    border-radius: var(--main-border-radius);

    -webkit-box-shadow: 0 2px 10px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 2px 10px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 2px 10px 0 rgba(34, 60, 80, 0.2);

    & > * {
      margin-bottom: 10px;
    }

    & > div {
      user-select: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-2, #dbdbdb);
    border-radius: 5px;

    &:focus {
      outline: 1px solid var(--color-gradient-2);
    }
  }

  &__input-container > .label {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
  }

  &__input-error {
    color: #f91d1d;
    font-size: 12px;
    padding-top: 5px;
    font-family: "Roboto";
    min-height: 19px;

    &_hidden {
      display: none;
    }
  }

  &__error {
    background: #ffdada;
    padding: 10px;
    color: red;
    border-radius: 4px;
    margin-top: 10px;
    font-family: "Roboto";
    font-size: 12px;
    text-align: center;

    &_hidden {
      display: none;
    }
  }

  &__btn {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid var(--color-2, #dbdbdb);
    border-radius: 5px;
    background: var(--color-3);

    &:disabled:hover {
      background: inherit;
    }

    &:hover {
      background: var(--color-7, #dbdbdb);
      cursor: pointer;
    }

    &:focus-visible {
      outline: none;
    }

    &:active {
      background: #f1f1f1;
    }
  }
}