@use "./normalize";
@use "./variables";
@use "./common";
@use "./buttons";
@use "./badges";
@use "./links";
@use "./login";
@use "./spiner";
@use "./side-menu";
@use "./browser";
@use "./browser-small";
@use "./browser-detail";
@use "./section";
@use "./key-value-table";
@use "./flex-table";
@use "./error-page";
@use "./detail";
@use "./tabs";
@use "./modal";
@use "./form";
@use "./grid";
@use "./datepicker";
@use "./switcher";
@use "./clouds";
@use './wangeditor-styles';

@use "themes/default";
//@import "themes/alt-1";
//@import "themes/alt-2"; // Недоделана

body {
  //overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 250ms;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.page {
  background: var(--color-1, #ffffff);
  width: 100%;

  &__container {
    padding: 20px 30px;
    background: var(--page-container-background-color);
    min-height: 100vh;
  }

  &__title {
    margin: 0;
    color: grey;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    user-select: none;
    background: linear-gradient(to right, var(--color-gradient-1, #DE4020) 0%, var(--color-gradient-2, orange) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
