.side-menu {
  width: 240px;
  height: 100vh;
  background-color: var(--side-menu-background-color, #ffffff);
  -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: var(--main-box-shadow);
  z-index: 1;
  position: sticky;
  top: 0;

  .--without-icon {
    margin-left: 24px;
  }

  &__icon {
    width: 14px;
    height: 14px;
    color: black;
  }

  &__logo-container {
    cursor: pointer;
  }

  &__logo-img {
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  &__header {
    flex-grow: 1;
    outline: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__footer {

    img {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      opacity: 0.8;
    }

    .username {
      font-size: 16px;
      padding-bottom: 5px;
      text-transform: none;
      user-select: none;
    }

    .role {
      font-size: 12px;
      padding-bottom: 30px;
      text-transform: none;
      color: grey;
      user-select: none;
    }

    padding: 40px 30px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;

    a {
      font-family: FiraSansExtraCondensed;
      user-select: none;

      &:hover {
        cursor: pointer;
        color: #606060;
      }
    }
  }

  &__sub-sections-list {
    background: var(--side-menu-sub-section-list-background-color);
    max-height: 0;
    transition-property: max-height;
    transition-duration: 1.5s;
    position: relative;
    visibility: collapse;
    overflow-y: hidden;
    will-change: max-height;

    &_open {
      max-height: 100vh;
      z-index: 1;
      visibility: inherit;
    }

    &_closing {
      max-height: 0;
      transition-duration: 400ms, 10ms;
      z-index: 1;
      visibility: inherit;
    }
  }

  &__sub-sections-list-item {
    font-size: 14px;
    user-select: none;
    z-index: 1;
    position: relative;
    display: flex;
    padding: 10px 0 10px 20px;

    :nth-child(2) {
      margin-left: 10px;
    }

    &:hover {
      color: var(--side-menu-list-item-hover-color, #606060);

      svg, >a {
        color: var(--side-menu-list-item-hover-color, #606060);
      }
    }

    a {
      font-family: "FiraSansExtraCondensed";
      text-decoration: none;
      color: black;
    }

    &:hover {
      cursor: pointer;
      color: #606060;
    }

    a {
      display: block;
    }
  }

  &__sections {
    overflow-y: auto;
  }

  &__sections-list-item {
    background: var(--side-menu-background-color);
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    user-select: none;
    font-family: 'FiraSansExtraCondensed';
    position: relative;
    border-left: none;
    z-index: 2;
    border-bottom: var(--side-menu-item-border-bottom);
    outline: none;

    >a {
      text-decoration: none;
      font-size: 14px;
      color: #000000;
      font-family: "FiraSansExtraCondensed";
      padding: 10px 10px 10px 20px;
      display: flex;
      flex-direction: row;

      :nth-child(2) {
        margin-left: 10px;
      }
    }

    &:hover {
      color: var(--side-menu-list-item-hover-color, #606060);
      cursor: pointer;

      svg, >a {
        color: var(--side-menu-list-item-hover-color, #606060);
      }
    }
  }

  &__sections-list-item-title {
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: row;

    :nth-child(2) {
      margin-left: 10px;
    }
  }

  &__sections-list-item-arrow {
    &::after {
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      position: absolute;
      top: 1.2em;
      right: 20px;
      transition-property: transform;
      transition-duration: 0.5s;
    }
  }

  &__sections-list-item-arrow_rotated {
    &::after {
      transform: rotate(180deg);
    }
  }
}