.tabs {
  position: relative;
  width: 100%;
  display: flex;

  &__item {
    user-select: none;
    white-space: nowrap;
    text-align: center;
    padding: 10px 20px;
    color: var(--color-4, #757575);
    border-bottom: 1px solid transparent;
    transition-property: border-bottom, color;
    transition-duration: 0.3s;
    position: relative;

    &.--with-error {
      &::after {
        content: "";
        width: 6px;
        height: 6px;
        background: var(--color-gradient-intermediate);
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 10px;
      }
    }

    &_active {
      border-bottom: 1px solid var(--color-gradient-1, #DE4020);
      color: var(--color-gradient-1, #DE4020);
    }

    &:hover {
      cursor: pointer;
    }
  }
}